* {
  padding: 0;
  margin: 0;
}

.container {
  background-color: rgb(93, 191, 227);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.box {
  border-radius: 20px;
  width: 60px;
  height: 60px;
  background: blue;
  animation: anime 3s 1s infinite alternate;
  margin-left: 50px;
}

.load {
  width: 100px;
  height: 100px;
  margin: 110px auto 0;
  border: solid 10px #8822aa;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes anime {
  0% {
    width: 60px;
    height: 60px;
    background: blue;
  }
  25% {
    width: 60px;
    height: 60px;
    background: blue;
  }
  50% {
    width: 60px;
    height: 240px;
    background: blue;
  }
  100% {
    width: 480px;
    height: 240px;
    background: blue;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
